---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const title = "About us";
const description = "Just a generic description for an about page";
---

<Layout title={title} description={description}>
  <section class="max-w-6xl mx-auto px-4 mt-10">
    <h2 class="text-3xl font-bold">Latest Technology Posts</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga neque
      delectus deserunt eligendi veritatis labore optio asperiores sequi ab
      vitae? Molestiae numquam at iusto velit. Quisquam debitis rerum corporis
      quia!
  </section>
</Layout>
